<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ImageOptimizerServlet</servlet-name>
        <servlet-class>ImageOptimizerPackage.ImageOptimizerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageOptimizerServlet2</servlet-name>
        <servlet-class>ImageOptimizerPackage.ImageOptimizerServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demoServlet</servlet-name>
        <servlet-class>ImageOptimizerPackage.demoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageOptimizerServlet</servlet-name>
        <url-pattern>/ImageOptimizerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageOptimizerServlet2</servlet-name>
        <url-pattern>/ImageOptimizerServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demoServlet</servlet-name>
        <url-pattern>/demoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>file-upload</param-name>
        <param-value>
            <!--C:\Users\Saswata\Documents\NetBeansProjects\ImageOptimizer\web\uploads\-->
            C:\hi\
     </param-value>
    </context-param>
    <context-param>
        <param-name>fs-icon</param-name>
        <param-value>
            <!--C:\Users\Saswata\Documents\NetBeansProjects\ImageOptimizer\web\findSpace.png-->
            https://www.findspace.in/images/fS.png
        </param-value>
    </context-param>
</web-app>
